
@font-face {
  font-family: 'Swiss721BT-Black';
  src: url('Swiss721BT-Black.eot?#iefix') format('embedded-opentype'),  url('Swiss721BT-Black.woff') format('woff'), url('Swiss721BT-Black.ttf')  format('truetype'), url('Swiss721BT-Black.svg#Swiss721BT-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
